<%-include('cabecalho.ejs')%>
    <form method="post">
        ID: <input type="text" name="id" readonly value="<%=Usuario._id%>"/><br>
        Nome: <input type="text" name="nome" placeholder="Digite seu nome." value="<%=Usuario.nome>"/><br>
        Email: <input type="text" name="email" placeholder="Digite seu e-mail." value="<%=Usuario.email>"/><br>
        Senha: <input type="password" name="senha" placeholder="Crie uma senha para cadastro" value="<%=Usuario.senha>"/><br>
        Foto: <input type="file" name="foto"/><br>
        
        <input type="submit" value="Confirmar"/>
    </form>
<%-include('rodape.ejs')%>
