<%-include('cabecalho.ejs')%>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Tempo de expêriencia (meses)</th>
            <th>Data de nascimento</th>
            <th>Foto</th>
            <th>Deletar</th>
            <th>Editar</th>
        </tr>
        <%for(usuario of Usuarios){%>
        <tr>
            <td><%=usuario._id%></td>
            <td><%=usuario.nome%></td>
            <td><%=usuario.email%></td>
            <td><%=usuario.exp_trabalho%></td>
            <td><%=usuario.datanasc%></td>
            <td><img class="foto" src="/fotos/<%=usuario.foto%>"/></td>
            <td>
                <a href="/del/<%=usuario._id%>"><img class="img-responsive" src="/lixeira.png" alt="Deletar"></a>

            </td>
            <td>
                <a href="/edt/<%=usuario._id%>"><img class="img-responsive" src="/editar.png" alt="Editar"></a>
            </td>
        </tr>
        <% } %>
    </table>
<%-include('rodape.ejs')%>
